.question {
  font-size: 2em;
  width: 40vw;
  text-align: center;
  background-color: white;
  color: black;
  padding: 0.5em;
  border: solid black 0.25em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
  height: 100vh;
  flex-flow: column;
}

div.wrapper * {
  margin: 25px;
}
