.gameTitle {
  background: linear-gradient(to right, #434343 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;
}

.gameTitleWrapper {
  position: fixed;
  width: 100%;
  height: 10vh;
  text-align: center;
  top: 8vh;
}

.selectorModel {
  border: 5px solid transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.4);

  width: 60vw;
  height: 60vh;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 15vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.selectorModel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.selectorModel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item {
  border: 1px solid rgb(146, 148, 248);
  width: 45%;
  min-height: 30%;
  max-height: 90%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(16, 15, 15, 0.1);
  color: rgba(255, 255, 255, 0.8);
}
.item:hover {
  box-shadow: 1px 1px 25px 10px rgba(199, 200, 243, 0.4);
}

.item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(199, 200, 243, 0.4), transparent);
  transition: all 650ms;
}

.displayImg {
  width: 100px;
  height: 100px;
  margin: 15% 0px;
}

.title {
  font-size: 3em;
}

.description {
  font-size: 1em;
}

@media (max-width: 500px) {
  .item {
    font-size: 0.6em;
  }
  .selectorModel {
    height: 50vh;
    width: 85vw;
  }
}
/* Spinner */

.spinnerWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
}

.loader {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

/* INDICATOR */
.indicator {
  font-size: 20em;
  animation: grow 25s infinite;
}

.red {
  color: rgba(255, 0, 0, 0.55);
  text-shadow: -1px 0 rgba(16, 15, 15, 0.1), 0 1px rgba(16, 15, 15, 0.1), 1px 0 rgba(16, 15, 15, 0.1),
    0 -1px rgba(16, 15, 15, 0.1);
}

.green {
  color: rgba(31, 187, 31, 0.55);
  text-shadow: -1px 0 rgba(30, 255, 0, 0.945), 0 1pxrgba (30, 255, 0, 0.945), 1px 0 rgba(30, 255, 0, 0.945),
    0 -1px rgba(30, 255, 0, 0.945);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 550px) {
  .gameTitle {
    font-size: 2.5em;
  }
}
